.loginForm {
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    color: #24292e;

    margin-left: auto;
    margin-right: auto;
}

.loginForm input {
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    border-color: #24292e;
    border-width: 1px;
}

.loginForm__input-sub {
    display: none;
    color: #de5b5b;
}

.loginForm_input_invalid .loginForm__input-sub {
    display: block;
}

.loginForm__input-container {
    margin-bottom: 15px;
}

.loginForm__input-container label {
    margin-bottom: 3px;
}

.loginForm__input {
    font-size: 17px;
}

.loginForm__input-container .loginForm__input {
    width: 100%;
}

.loginForm__input-checkbox-container {
    margin-bottom: 30px;
}

.loginForm__input_type_submit {
    margin-bottom: 30px;
}



.loginForm__input-container_disabled {
    display: none;
}

.loginForm__input_type_change-login-form, .loginForm__input_type_submit {
    font-size: 17px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    border-radius: 20px;
    padding: 10px;
    color: #24292e;
    background-color: white;
    border-color: #24292e;
    border-width: 1px;

    transition: all 0.2s;
}

.button:hover {
    color: white;
    background-color: dodgerblue;
    border-color: white;
}