.list__container {
    min-height: 800px;
}

.list__navigatoritem {
    color: black;
    display: inline;
    margin-right: 20px;
}

.list__navigatoritem_state_active {
    font-weight: bold;
    color: #0b0b64;
}

.list__tests {
    flex-grow: 1;
}

.list__testitem {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.list__testitem_info_title {
    font-size: 30px;
    margin-bottom: 5px;
    color: #24292e;
    font-weight: bold;
}

.list__testitem_info_sub {
    font-size: 13px;
    color: dimgrey;
}

.list__testitem_info {
    display: inline-block;
}

.list__testitem .score {
    display: inline-block;
    float: right;
}