.score {
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.score_good {
    border: 2px solid green;
    background-color: green;
}

.score_ok {
    border: 2px solid darkorange;
    background-color: darkorange;
}

.score_bad {
    border: 2px solid red;
    background-color: red;
}