.test .container {
    display: block;
}

.test__available_title, .test__available_sub {
    text-align: center;
}

.test__available_title {
    font-size: 60px;
    margin-bottom: 5px;
    color: #24292e;
    font-weight: bold;
}

.test__available_sub {
    font-size: 26px;
    color: dimgrey;
    margin-bottom: 10px;
}

.test__available_button {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.test {
    margin-top: 50px;
    position: relative;
}

.test__timer {
    display: inline-block;
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.test__fetch_status {
    display: inline-block;
    position: absolute;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.test__running_title {
    font-size: 30px;
    margin-bottom: 15px;
    color: #24292e;
    font-weight: bold;
    text-align: center;
}

.test__task {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.test__task_description {
    font-size: 20px;
    margin-bottom: 15px;
    color: #24292e;
}

.test__task_button {
    float: right;
    margin-left: 15px;
}

.test__answer_correct {
    border-color: green;
    color: green;
}

.test__answer_fail {
    border-color: red;
    color: red;
}

.test__running_title .score {
    display: inline-block;
    margin-left: 10px;
}

input.test__answer {
    display: block;
}

.test__task_label {
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

.test__task_input {
    display: block;
    width: 100%;
    max-width: 300px;
}

.test__task_deletebutton {
    margin-top: 10px;
    display: block;
}

.test__task_buttons > button {
    margin-bottom: 30px;
}

textarea {
    max-width: 500px;

    width: 100%;
}

.test__task_one_in_many {
    margin-bottom: 5px;
}

.test__task_question {
    margin-bottom: 7px;
}